@use '../base/variables' as v;

.footer {
  background-color: v.$color-primary;
  padding: 3rem 3rem 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: v.$color-white;

  .social-menu {
    margin-bottom: 1.5rem;
    li {
      background-color: v.$color-primary;
      transition: background-color 0.2s ease-in-out;
      width: 3.6rem;
      height: 3.6rem;
      &:hover {
        background: lighten(v.$color-primary, 4%);
      }

      svg {
        color: v.$color-white;
      }
    }
  }

  &__links {
    display: flex;
    gap: 0.9rem;
    margin: 1.5rem 0 3rem 0;

    li a {
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 600;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: v.$button-gold-bg;
      }
    }
  }

  &__copyright {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
