@use '../base/variables' as *;

.page-concept {
  .section-author {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;

    &__title {
      text-align: center;
      color: $color-title;
      padding-bottom: 2.5rem;
    }

    .section-img-text {
      background: linear-gradient(120deg, #4e6351 0%, #4e6351 85%, #39503e 100%);
      &__content {
        &-title,
        &-text {
          color: $color-white;
        }
      }
    }
  }
}
