/* sections/_section-img-duo-text.scss */
@use '../base/variables' as v;

.section-img-duo-text {
  padding: 5rem 0;
  &__container {
    min-height: 85vh;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: stretch;
  }

  &__img-left,
  &__img-right {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    background: linear-gradient(120deg, #4e6351 0%, #4e6351 85%, #39503e 100%);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    &-title {
      color: v.$color-white;
      text-align: center;
    }

    &-text {
      font-size: 1rem;
      color: v.$color-white;
      text-align: center;
      white-space: pre-line;
    }

    .button-learn-more {
      width: fit-content;
    }

    &-buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;

      .button-primary,
      .button-secondary {
        color: v.$color-white;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  .button-learn-more {
    margin: 0 auto;
    background: linear-gradient(
      90deg,
      v.$color-white 0%,
      v.$color-white 50%,
      v.$color-gold 50%,
      v.$color-gold 100%
    );
    background-size: 200%;
    background-position: 0% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: background-position 0.6s ease;
    cursor: pointer;

    &:hover {
      background-position: -100% 0;
    }
  }
}
