@use '../base/variables' as v;

.button-gold {
  background-color: v.$button-gold-bg;
  color: v.$color-title;
  height: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 12px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: v.$button-gold-bg-hover;
  }
}

.button-learn-more {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    v.$color-title 0,
    v.$color-title 40%,
    v.$color-primary 60%,
    v.$color-primary 100%
  );
  background-size: 200%;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: background-position 1s ease;
  cursor: pointer;

  &:hover {
    background-position: -100% 0;
  }
}

.button-primary,
.button-secondary {
  min-height: 3rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: v.$border-radius;
  padding: 0 24px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-primary {
  background-color: v.$button-primary-bg;
  color: v.$button-primary-text;

  &:hover {
    background-color: v.$button-primary-bg-hover;
  }
}

.button-secondary {
  background-color: v.$button-secondary-bg;
  color: v.$button-secondary-text;

  &:hover {
    background-color: v.$button-secondary-bg-hover;
  }
}
