@use '../base/variables' as v;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  line-height: 1;
  transition: all 0.3s ease;

  &--transparent {
    .navbar__usual {
      background-color: transparent;
      box-shadow: none;

      .name-lutea {
        color: v.$color-white-overlay;
      }
    }

    // Au survol, reprendre les couleurs classiques
    &:hover {
      .navbar__usual {
        background-color: v.$color-background;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .name-lutea {
          color: v.$color-title;
        }
      }
    }
  }

  &__offer {
    background-color: v.$color-primary;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 36px;

    &-text {
      font-size: 0.9rem;
      color: v.$color-white;
      text-transform: uppercase;
    }
  }

  &__usual {
    background-color: v.$color-background;
    height: 3.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    position: relative;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    &-left,
    &-right {
      flex: 0 0 auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .name-lutea {
        font-family: 'Tan Pearl', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: v.$color-title;
        transition: color 0.3s ease;
      }
    }
  }
}
