@use '../base/variables' as v;

.social-menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;

  li {
    height: 2.7rem;
    width: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: v.$color-background-icon;
    border-radius: v.$border-radius;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: v.$color-background-icon-hover;
    }

    svg {
      width: 60%;
      height: 60%;
      color: v.$color-icon;
    }
  }
}

.navbar--transparent .social-menu li {
  background-color: v.$color-background-icon-transparent;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: v.$color-background-icon-hover-transparent;
  }
}

// Au survol de la navbar transparente, reprendre les couleurs classiques
.navbar--transparent:hover .social-menu li {
  background-color: v.$color-background-icon;

  &:hover {
    background-color: v.$color-background-icon-hover;
  }
}
