@use '../base/variables' as v;

.social-menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  li {
    height: 0.9rem;
    width: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: v.$color-background-icon;
    border-radius: v.$border-radius;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: v.$color-background-icon-hover;
    }

    svg {
      width: 60%;
      height: 60%;
      color: v.$color-icon;
    }
  }
}
