@use '../base/variables' as v;

body {
  font-family: 'Montserrat', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tan Pearl', sans-serif;
  color: v.$color-title;
}

h1 {
  font-size: 0.5rem;
  color: v.$color-white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
