// 🎨 Couleurs principales
$color-primary: #81a085; // Couleur dominante du thème (footer, boutons principaux)
$color-secondary: #a6b39b; // Vert clair secondaire (boutons secondaires)
$color-gold: #fff3a5; // Bouton "gold" principal (réserver)
$color-gold-hover: #ffd105; // Hover du bouton "gold"

$color-title: #4e6351; // Titres et texte sur bouton gold
$color-text: #4e4e4e; // Texte principal
// #000000 peu etre mieux pour le text
$color-background: #efe8e2; // Fond global
$color-white: #ffffff;
$color-white-overlay: #e6e6e6; // Blanc avec effet overlay (rgba(0,0,0,0.25) par-dessus)

$color-background-icon: rgba(166, 179, 155, 0.3);
$color-background-icon-hover: rgba(166, 179, 155, 0.6);
$color-icon: $color-title;

// 🎨 Couleurs pour navbar transparente
$color-background-icon-transparent: rgba(255, 255, 255, 0.3);
$color-background-icon-hover-transparent: rgba(255, 255, 255, 0.5);
$color-icon-transparent: $color-white;

// 🔘 Bouton primaire
$button-primary-bg: $color-primary;
$button-primary-text: $color-white;
$button-primary-bg-hover: $color-title;

// 🔘 Bouton secondaire
$button-secondary-bg: rgba(166, 179, 155, 0.3);
$button-secondary-text: $color-title;
$button-secondary-bg-hover: rgba(166, 179, 155, 0.6);

// 🔘 Bouton "gold" (réserver)
$button-gold-bg: $color-gold;
$button-gold-text: $color-title;
$button-gold-bg-hover: $color-gold-hover;
$button-gold-text-hover: $color-title;

// 🧱 UI divers
$border-radius: 6px;
